.form-group label {
  color: grey;
}

.form-group input {
  font-weight: 500;
}

.form-group input::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}

thead th{
  font-weight: 400;
}

table tbody tr:hover {
  background-color: #fffbf2;
  cursor: pointer;
}

/*for invalid form controls*/
input.invalid {
  border-color: red;
}

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
